version: '3.8'

services:
  app:
    build:
      context: .
      target: php-runtime
    container_name: laravel_app_local
    restart: unless-stopped
    ports:
      - "8080:80"
    env_file:
      - .env.local
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: mysql_local
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: buku_c_temurejo
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
