    version: '3.8'

    services:
    app:
        build: .
        container_name: laravel_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
        - ./:/var/www
        networks:
        - backend-network
        depends_on:
        - db
        environment:
        - APP_ENV=production
        - APP_URL=https://app.ravly.me
        - DB_CONNECTION=mysql
        - DB_HOST=db
        - DB_PORT=3306
        - DB_DATABASE=buku_c_temurejo_prod
        - DB_USERNAME=root
        - DB_PASSWORD=admin123


    web:
        image: nginx:alpine
        container_name: nginx_web
        restart: unless-stopped
        ports:
        - "8080:80"
        volumes:
        - ./:/var/www
        - ./nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
        - backend-network
        depends_on:
        - app

    db:
        image: mysql:8
        container_name: mysql_db
        restart: unless-stopped
        environment:
        MYSQL_DATABASE: buku_c_temurejo_prod
        MYSQL_ROOT_PASSWORD: admin123
        volumes:
        - db_data:/var/lib/mysql
        networks:
        - backend-network

    volumes:
    db_data:

    networks:
    backend-network:
        driver: bridge
